
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopping Cart</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .feather-plus, .feather-minus {
        cursor: pointer;
    }
</style>

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb main-title start-->
                    <div class="breadcrumb-title">
                        <h2>Your Shopping Cart</h2>
                    </div>
                    <!-- breadcrumb main-title end-->
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item-link">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item-link">
                            <span>Your Shopping Cart</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->

<section class="cart-page section-ptb">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cart-page-wrap">
                        <div class="cart-wrap-info">
                            <div class="cart-item-wrap">
                                <div class="cart-title">
                                    <h6>Ürünlerim :</h6>
                                    <span class="cart-count">
                                        <span class="cart-counter">3</span>
                                        <span class="cart-item-title">Ürün</span>
                                    </span>
                                </div>
                                <div class="item-wrap">
                                    <!-- cart-content start -->
                                    <ul class="cart-wrap" id="cart-content">
                                        <!-- Dinamik içerik buraya eklenecek -->
                                    </ul>
                                    <!-- cart-content end -->
                                </div>
                            
                                <div class="cart-buttons">
                                    <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="2" class="btn-style2">Alışverişe devam et</a>
                            @*         <a onclick="removeAllFromCart" class="btn-style2">Sepeti Boşalt</a> *@
                                </div>
                            </div>
                            <div class="special-notes">
                                <label>Satıcıya not gönder</label>
                                <textarea rows="10" name="note"></textarea>
                            </div>
                        </div>
                        <div class="cart-info-wrap">

                            <div class="cart-total-wrap cart-info">
                                <div class="cart-total">
                                    <div class="total-amount">
                                        <h6 class="total-title">Toplam</h6>
                                        <span class="amount total-price">€56.00</span>
                                    </div>
                                   @*  <div class="proceed-to-discount">
                                        <input type="text" name="discount" placeholder="İndirim Kodu">
                                    </div> *@
                                    <br /><br /><br />
                                    <div class="proceed-to-checkout">
                                        <a asp-controller="Home" asp-action="ProductCheck">Ödeme</a>
                                    </div>
                                    <div class="cart-payment-icon">
                                        <a href="javascript:void(0)" class="payment-icon">
                                            <img src="~/webside/img/payment/visa.svg" class="img-fluid" alt="visa">
                                            <img src="~/webside/img/payment/master.svg" class="img-fluid" alt="master">
                                            <img src="~/webside/img/payment/express.svg" class="img-fluid" alt="express">
                                            <img src="~/webside/img/payment/paypal.svg" class="img-fluid" alt="paypal">
                                            <img src="~/webside/img/payment/diners.svg" class="img-fluid" alt="diners">
                                            <img src="~/webside/img/payment/discover.svg" class="img-fluid" alt="discover">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopping Cart</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .feather-plus, .feather-minus {
        cursor: pointer;
    }
</style>

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb main-title start-->
                    <div class="breadcrumb-title">
                        <h2>Your Shopping Cart</h2>
                    </div>
                    <!-- breadcrumb main-title end-->
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item-link">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item-link">
                            <span>Your Shopping Cart</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->

<section class="cart-page section-ptb">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cart-page-wrap">
                        <div class="cart-wrap-info">
                            <div class="cart-item-wrap">
                                <div class="cart-title">
                                    <h6>Ürünlerim :</h6>
                                    <span class="cart-count">
                                        <span class="cart-counter">3</span>
                                        <span class="cart-item-title">Ürün</span>
                                    </span>
                                </div>
                                <div class="item-wrap">
                                    <!-- cart-content start -->
                                    <ul class="cart-wrap" id="cart-content">
                                        <!-- Dinamik içerik buraya eklenecek -->
                                    </ul>
                                    <!-- cart-content end -->
                                </div>
                          
                                <div class="cart-buttons">
                                    <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="2" class="btn-style2">Alışverişe devam et</a>
                        @*             <a onclick="removeAllFromCart()" class=" btn-style2">Sepeti Boşalt</a> *@
                                </div>
                            </div>
                            <div class="special-notes">
                                <label>Satıcıya not gönder</label>
                                <textarea rows="10" name="note"></textarea>
                            </div>
                        </div>
                        <div class="cart-info-wrap">

                            <div class="cart-total-wrap cart-info">
                                <div class="cart-total">
                                    <div class="total-amount">
                                        <h6 class="total-title">Toplam</h6>
                                        <span class="amount total-price">€56.00</span>
                                    </div>
                                    <div class="proceed-to-discount">
                                        <input type="text" name="discount" placeholder="İndirim Kodu">
                                    </div>
                                    <div class="proceed-to-checkout">
                                        <a asp-controller="Home" asp-action="ProductCheck">Ödeme</a>
                                    </div>
                                    <div class="cart-payment-icon">
                                        <a href="javascript:void(0)" class="payment-icon">
                                            <img src="~/webside/img/payment/visa.svg" class="img-fluid" alt="visa">
                                            <img src="~/webside/img/payment/master.svg" class="img-fluid" alt="master">
                                            <img src="~/webside/img/payment/express.svg" class="img-fluid" alt="express">
                                            <img src="~/webside/img/payment/paypal.svg" class="img-fluid" alt="paypal">
                                            <img src="~/webside/img/payment/diners.svg" class="img-fluid" alt="diners">
                                            <img src="~/webside/img/payment/discover.svg" class="img-fluid" alt="discover">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        // Global değişken: İlk eksi tıklamasını takip etmek için
        let isFirstMinusClick = 0;
        // Bu alanda sepetin listelenmesi
        displayCartContent();

        // Fiyat hesaplanması
        $(document).ready(function () {
            function updatePrice(input) {
                var quantity = parseInt(input.val());
                var price = parseFloat(input.data("price"));
                var newPrice = (price * quantity).toFixed(2);
           
                input.closest("li").next("li").find(".full-price").text("€" + newPrice);
                updateTotalPrice();
            }

            $(document).on("click", ".inc.qtybutton.plus", function () {
                var input = $(this).siblings("input[name='quantity']");
                var quantity = parseInt(input.val());
                quantity += 1;
                input.val(quantity);
                isFirstMinusClick = isFirstMinusClick + 1;
                updatePrice(input);

          
               
            });

            $(document).on("click", ".dec.qtybutton.minus", function () {
                var input = $(this).siblings("input[name='quantity']");
                var quantity = parseInt(input.val());
                if (quantity > 1) {
                    quantity -= 1;
                    input.val(quantity);
                    isFirstMinusClick = isFirstMinusClick + 1;
                    updatePrice(input);
                    

                }
            });

            $(document).on("change", "input[name='quantity']", function () {
                var input = $(this);
                updatePrice(input);
                // updateCartIdPrice(productId);
            });
        });

        function displayCartContent() {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            let cartContent = document.getElementById('cart-content');
            let cartHTML = '';

            if (cart.length === 0) {
                cartContent.innerHTML = '<p>Sepetinizde ürün yok.</p>';
                return;
            }

            cart.forEach(item => {
                cartHTML += `
                        <li class="item-info">
                            <div class="item-img">
                                <a href="product-template.html">
                                    <img src="${item.url}" class="img-fluid" alt="p-1">
                                </a>
                            </div>
                            <div class="item-title">
                                <a href="product-template.html">${item.name}</a>
                                <span class="item-option">
                                    <span class="item-price">€${item.price}</span>
                                </span>
                            </div>
                        </li>
                                <br><br><br><br><br><br><br>
                        <hr/>
                        <li class="item-qty">
                            <div class="product-quantity-action">
                                <div class="product-quantity">
                                    <div class="cart-plus-minus">
                                                        <button type="button" class="dec qtybutton minus" onclick="updateCartIdPrice('${item.id}',-1)"><i class="feather-minus"></i></button>
                                        <input type="text" name="quantity" value="${item.quantity || 1}" data-price="${item.price}" data-id="${item.id}">
                                                        <button type="button" class="inc qtybutton plus" onclick="updateCartIdPrice('${item.id}',1)"><i class="feather-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-remove">
                                <span class="remove-wrap">
                                    <a href="javascript:void(0)" class="text-danger" onclick="removeFromCart('${item.id}')">Temizle</a>
                                </span>
                            </div>
                        </li>
                        <li class="item-price">
                            <span class="amount full-price">€${(item.price * (item.quantity || 1)).toFixed(2)}</span>
                        </li>`;
            });
            cartContent.innerHTML = cartHTML;
            updateTotalPrice();
        }

        function removeFromCart(productId) {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            console.log("Cart sepetinde tutulan veriler : " ,cart)
            cart = cart.filter(item => item.id !== productId);
            sessionStorage.setItem('cart', JSON.stringify(cart));
            displayCartContent();
        }

        function removeAllFromCart() {
            // Sepeti boşalt
            sessionStorage.removeItem('cart');
            // veya alternatif olarak: sessionStorage.setItem('cart', JSON.stringify([]));

            // Sepet içeriğini yeniden göster (bu boş sepeti gösterecek)
            displayCartContent();

            // Toplam fiyatı ve sepet sayacını güncelle
            updateTotalPrice();
            updateCartCounter();

            // İlk eksi tıklaması durumunu sıfırla
            isFirstMinusClick = true;
        }

        function updateTotalPrice() {
            let totalPrice = 0;
            $('input[name="quantity"]').each(function () {
                let quantity = parseInt($(this).val());
                console.log(quantity);
                let price = parseFloat($(this).data('price'));
                console.log(price);
                totalPrice += quantity * (price || 0);
                console.log("Toplam fiyat:", totalPrice);
            });
            $('.total-price').text('€' + totalPrice.toFixed(2));
            updateCartCounter();
        }


        function handleFirstMinusClick() {
            if (isFirstMinusClick) {
                let currentCount = parseInt($('.cart-counter').text());
                $('.cart-counter').text(totalItems - 1);
                isFirstMinusClick = false;
            }
        }

        function updateCartCounter() {
            let totalItems = 0;
            $('input[name="quantity"]').each(function () {
                totalItems += parseInt($(this).val());
            });
            $('.cart-counter').text(totalItems);
        }

        // function updateCartIdPrice(productId) {
        //     let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
        //     console.log("Cart sepetinde tutulan veriler : ", cart)
        //     cart = cart.filter(item => item.id !== productId);
        //     // sessionStorage.setItem('cart', JSON.stringify(cart));
        // }
        function updateCartIdPrice(productId,increase) {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            console.log("Fiyat güncelleme öncesi sepet : ", cart);

            // Ürünü bul
            let productIndex = cart.findIndex(item => item.id === productId);

            if (productIndex !== -1) {
                // Ürün bulundu, miktarını güncelle
                let quantityInput = $(`input[name='quantity'][data-id='${productId}']`);
                console.log("Quantity değeri :", quantityInput)
                let newQuantity = parseInt(quantityInput.val());
                console.log("Yeni Quantity değeri :", quantityInput)

                if (newQuantity > 0) {
                    cart[productIndex].quantity = newQuantity + (increase);
                } else {
                    // Eğer miktar 0 veya daha azsa, ürünü sepetten kaldır
                    cart.splice(productIndex, 1);
                }

                // Güncellenmiş sepeti session storage'a kaydet
                sessionStorage.setItem('cart', JSON.stringify(cart));

                let cartresult = JSON.parse(sessionStorage.getItem('cart')) || [];
                console.log("Fiyat güncelleme sonrası sepet : ", cartresult);
            }
        }

    </script>
