
    <!-- breadcrumb start-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb main-title start-->
                        <div class="breadcrumb-title">
                            <h2>Wishlist</h2>
                        </div>
                        <!-- breadcrumb main-title end-->
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item-link">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item-link">
                                <span>Sepet</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <section class="customer-page section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="wishlist-page">
                        <div class="wishlist-grid-empty-list is_visible">
                            <div class="empty-list-info">
                                <div class="section-title">
                                    <h2>
                                        <span>Sepet</span>
                                        <span>temizlendi</span>
                                    </h2>
                                <p>Sepetiniz boşaltıldı. Alışverişe devam etmek istiyorsanız <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="2">burayı tıklayınız.</a> </p>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
