

    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb main-title start-->
                        <div class="breadcrumb-title">
                            <h2>Traking</h2>
                        </div>
                        <!-- breadcrumb main-title end-->
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item-link">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item-link">
                                <span>Traking</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- tracking start -->
    <section class="section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="track-area">
                        <div class="track-price">
                            <ul class="track-order">
                                
                                <li>
                                    <span class="track-status">Statü:</span>
                                    Kuryede
                                </li>
                            </ul>
                        </div>
                        <div class="track-main">
                            <div class="track">
                                <div class="step active">
                                    <span class="icon"><i class="fa fa-check"></i></span>
                                    <span class="text">Sipariş onaylandı</span>
                                </div>
                                <div class="step active">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                    <span class="text">Kuryede</span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fa fa-truck"></i></span>
                                    <span class="text"> Yolda </span>
                                </div>
                                <div class="step">
                                    <span class="icon"><i class="fa fa-archive"></i></span>
                                    <span class="text">Tarafınıza teslime edilmek için yola çıktı</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tracking end -->
