<main>
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb main-title start-->
                        <div class="breadcrumb-title">
                            <h2>Adres bilgisi</h2>
                        </div>
                        <!-- breadcrumb main-title end-->
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item-link">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item-link">
                                <span>Pro address</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- order history start -->
    <section class="order-histry-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="order-history">
                        <!-- order profile start -->
                        <partial name="ProfileSetting" />
                        <!-- order profile start -->
                        <!-- profile-form start -->
                        <div class="profile-address">
                            <form>
                                <div class="pro-add-title">
                                    <h4>İletişim adresi</h4>
                                </div>
                                <ul class="add-label-input">
                                    <li>
                                        <label>Firma</label>
                                        <input type="text" name="name" placeholder="Firma">
                                    </li>
                                    <li>
                                        <label>Ülke</label>
                                        <select>
                                    
                                            <option selected>Türkiye</option>
                                        </select>
                                    </li>
                                </ul>
                                <ul class="add-label-input">
                                    <li>
                                        <label>Şehir</label>
                                        <select>
                                            <option>Şehir seç</option>
                                            <option>New york</option>
                                            <option>Berlin</option>
                                            <option>Geneve</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label>Posta kodu</label>
                                        <input type="text" name="name" placeholder="Posta kodu">
                                    </li>
                                </ul>
                                <ul class="add-label-input">
                                    <li>
                                        <label>Adres 1</label>
                                        <input type="text" name="name" placeholder="Adres 1">
                                    </li>
                                    <li>
                                        <label>Adres 2</label>
                                        <input type="text" name="name" placeholder="Adres 2">
                                    </li>
                                </ul>
                                <ul class="pro-submit">

                                    <li>
                                        <a href="pro-wishlist.html" class="btn btn-style2 checkout ">Adres bilgilerimi kaydet</a>
                                    </li>
                            
                                    <li>
                                        <a href="pro-wishlist.html" class="btn btn-style2 checkout ">Adres bilgilerimi güncelle</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- profile-form end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- order history end -->
</main>