@model CourseProject.DAL.Entity.UserInfo
<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="breadcrumb-index">
                    <!-- breadcrumb main-title start-->
                    <div class="breadcrumb-title">
                        <h2>Profile</h2>
                    </div>
                    <!-- breadcrumb main-title end-->
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item-link">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item-link">
                            <span>Profile</span>
                        </li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- order history start -->
<section class="order-histry-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="order-history">
                    <!-- order profile start -->
                    <partial name="ProfileSetting" />
                    <!-- order profile start -->
                    <!-- profile-form start -->
                    <div class="profile-form">
                        <div class="pro-add-title">
                            <h4>Profile</h4>
                        </div>
                        <form method="post" action="Profile">

                            <ul class="pro-input-label">

                                <li>
                                    <label>First name</label>
                                    <input type="text" name="name" placeholder="First name" asp-for="@Model.FirstName">
                                </li>
                                <li>
                                    <label>Last name</label>
                                    <input type="text" name="name" placeholder="Last name" asp-for="@Model.LastName">
                                </li>
                            </ul>
                            <ul class="pro-input-label">
                                <li>
                                    <label>Email address</label>
                                    <input type="text" name="name" placeholder="Email address" required asp-for="@Model.Email">
                                </li>
                                <li>
                                    <label>Phone number</label>
                                    <input type="text" name="name" placeholder="Phone number" asp-for="@Model.PhoneNumber">
                                </li>
                            </ul>

                            <ul class="pro-submit">

                                <li>

                                    <button class="btn btn-style2 checkout" type="submit">Profili Güncelle</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <!-- profile-form end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order history end -->
