@model CourseProject.DAL.Entity.UserInfo
    <!-- breadcrumb start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col">
                <div class="row">
                    <div class="breadcrumb-index">
                        <!-- breadcrumb main-title start-->
                        <div class="breadcrumb-title">
                            <h2>Şifre Değiştir</h2>
                        </div>
                        <!-- breadcrumb main-title end-->
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item-link">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item-link">
                                <span>Account</span>
                            </li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- order history start -->
    <section class="order-histry-area account-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="order-history">
                        <!-- order profile start -->
                    <partial name="ProfileSetting" />
                        <!-- order profile start -->
                        <!-- change password start -->
                        <div class="profile-form">
                            <div class="pro-add-title">
                                <h4>Şifre değiştir</h4>
                            </div>
                            <form>
                                <ul class="pro-input-label">
                                    <li>
                                        <label>Email adresi</label>
                                        <input type="text" asp-for="Email" placeholder="Email adresi" disabled>
                                    </li>
                                </ul>
                                <ul class="pro-input-label">
                                    <li>
                                        <label>Eski şifre</label>
                                    <input type="password" asp-for="PasswordHash" placeholder="Eski şifre">
                                    </li>
                                </ul>
                                <ul class="pro-input-label">
                                    <li>
                                        <label>Yeni şifre</label>
                                    <input type="password" asp-for="PasswordHash" placeholder="Yeni şifre">
                                    </li>
                                </ul>
                                <ul class="pro-submit">
                          
                                    <li>
                                        <a href="profile.html" class="btn btn-style2 checkout ">Şifre bilgilerini güncelle</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- change password end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- order history end -->
