<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description"
          content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
    <meta name="keywords"
          content="food template, bakery products, html, eCommerce html template, responsive, pizza, burger, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
    <meta name="author" content="spacingtech_webify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Unimo - The Multipurpose HTML5 Template</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="~/webside/img/logo/favicon.png">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/bootstrap.min.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/animate.min.css">
    <!-- bootstrap icon -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/bootstrap-icons.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/all.min.css">
    <!--fether css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/feather.css">
    <!-- owl css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/webside/css/owl.theme.default.min.css">
    <!-- swiper-bundle css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/swiper-bundle.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/slick.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/webside/css/account.css">
    <!-- colllection-page css -->
    <link rel="stylesheet" type="text/css" href="~/webside/css/collection-page.css">
    <link rel="stylesheet" type="text/css" href="~/webside/css/other-page.css">
    <link href="~/admin/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webside/CourseProject.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- top-notification start -->
    <section class="top-notification-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="notification-entry">
                        <li class="notify-wrap coupan-text">
                            <p>
                                <span>İlk siparişinizde %20 indirim:</span>
                                <span class="code-text">%20</span>
                            </p>
                        </li>
                        <li class="notify-wrap social-media">
                            <ul class="social-icon">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <span class="icon-social facebook">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <span class="icon-social twitter">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/" target="_blank">
                                        <span class="icon-social instagram">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtube.com/" target="_blank">
                                        <span class="icon-social youtube">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                                                <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/" target="_blank">
                                        <span class="icon-social linkedin">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                            </svg>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="notify-wrap contact-wrap">
                            <div class="contact-link">
                                <div class="connect-wrap contact-mail">
                                    <a href="mailto:demo@support.com" target="_blank">
                                        <i class="feather-mail"></i>
                                        <span>demo@support.com</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- top-notification end -->
    <!-- header start -->
    <header class="header-area">
        <div class="header-main-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="header-main">
                            <!-- header logo start -->
                            <div class="header-element logo">
                                <a asp-controller="Home" asp-action="Index" class="theme-header-logo">
                                   @*  <img src="~/webside/img/logo/logo.png" class="img-fluid" alt="logo"> *@
                                    <img src="~/img/logo-3.png" class="img-fluid" alt="logo" style="height:3%; width:20%">
                             
                                </a>
                            </div>
                            <!-- header logo end -->
                            <!-- header megamenu start -->
                            <div class="header-element megamenu-content">
                                <a href="#" class="browse-cat" data-bs-toggle="collapse" aria-expanded="true">
                                    <span class="menu-icon"><i class="feather-menu"></i></span>
                                    <span class="menu-title">Menu</span>
                                    <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                </a>
                                <div class="mainwrap collapse show" id="main-collapse">
                                    <ul class="main-menu">
                                        <li class="menu-link">
                                            <a asp-controller="Home" asp-action="Index" class="link-title">
                                                <span class="sp-link-title">Ana Sayfa</span>

                                            </a>


                                        </li>
                                        <li class="menu-link">
                                            <a href="#" class="link-title">
                                                <span class="sp-link-title">
                                                    Ürünler
                                                    <span class="label">satılık</span>
                                                </span>
                                                <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                            </a>
                                            <a href="~/webside/#desk-single-product" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                <span class="sp-link-title">Ürünler</span>
                                                <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                            </a>
                                            <div class="menu-dropdown product-menu collapse" id="single-collapse-2">
                                                <ul class="container ul p-0">
                                                    <li class="productlink-li">
                                                        <a href="#" class="productlink-title">
                                                            <span class="sp-link-title">Ürünler Sayfası</span>
                                                        </a>
                                                        <a href="#" data-bs-toggle="collapse"
                                                           class="productlink-title productlink-title-lg">
                                                            <span class="sp-link-title">Ürünler sayfası</span>
                                                            <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                                        </a>
                                                        <ul class="productsupmenu-dropdown collapse" id="productsup-collapse-1">
                                                            <li class="productsupmenu-li">
                                                                @*  CategoryType = 1 Ambalaj
                                                                CategoryType = 2 Kırtasiye Malzemeleri
                                                                CategoryType = 3 Çok satanlar *@

                                                                <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="1" class="productsuplink-title">
                                                                    <span class="sp-link-title">Ambalaj</span>


                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li class="productlink-li">
                                                        <a asp-controller="Home" asp-action="CollectionList" class="product-img banner-img banner-hover">
                                                            <img src="~/webside/img/menu/menu-banner-01.jpg" class="img-fluid" alt="menu-banner-01">
                                                        </a>
                                                    </li>
                                                    <li class="productlink-li">
                                                        <a asp-controller="Home" asp-action="CollectionList" class="product-img banner-img banner-hover">
                                                            <img src="~/webside/img/menu/menu-banner-02.jpg" class="img-fluid" alt="menu-banner-02">
                                                        </a>
                                                    </li>
                                                    <li class="productlink-li">
                                                        <a href="#" class="productlink-title">
                                                            <span class="sp-link-title">Mağaza</span>
                                                        </a>
                                                        <a href="#" data-bs-toggle="collapse"
                                                           class="productlink-title productlink-title-lg">
                                                            <span class="sp-link-title">Mağaza</span>
                                                            <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                                        </a>
                                                        <ul class="productsupmenu-dropdown collapse" id="productsup-collapse-2">
                                                            <li class="productsupmenu-li">
                                                                <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="2" class="productsuplink-title">

                                                                    <span class="sp-link-title">Ofis Malzemeleri</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li class="productlink-li">
                                                        <a href="#" class="product-img banner-img banner-hover">
                                                            <img src="~/webside/img/menu/menu-banner-03.jpg" class="img-fluid" alt="menu-banner-03">
                                                        </a>
                                                    </li>
                                                    <li class="productlink-li">
                                                        <a href="#" class="product-img banner-img banner-hover">
                                                            <img src="~/webside/img/menu/menu-banner-04.jpg" class="img-fluid" alt="menu-banner-04">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-link">
                                            <a asp-controller="Home" asp-action="CollectionList" asp-route-CategoryType="3" class="link-title">
                                                <span class="sp-link-title">Çok Satanlar  <span class="label">yeni</span></span>

                                            </a>
                                            <a href="~/webside/#single-collapse" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                <span class="sp-link-title">Collection</span>
                                                <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                            </a>

                                        </li>



                                    </ul>
                                </div>
                            </div>
                            <!-- header megamenu end -->
                            <!-- right-block-box start-->
                            <div class="header-element right-block-box">
                                <ul class="shop-element">
                                    <li class="side-wrap toggle-wrap">
                                        <!-- button toggler start -->
                                        <button class="toggler-button"><span class="line"></span></button>
                                        <!-- button toggler end -->
                                    </li>
                                    <li class="side-wrap search-bar-wrap">
                                        <div class="search-rap">
                                            <a class="search-crap" data-bs-toggle="collapse" href="~/webside/#search-crap">
                                                <i class="feather-search"></i>
                                            </a>
                                            <div class="crap-search collapse" id="search-crap">
                                                <div class="form-search">
                                                    <input type="search" name="q" value="" placeholder="Search product here..." id="search"
                                                           class="input-text" aria-label="Search our store" required="" autocomplete="off">
                                                    <a href="~/webside/search.html" class="search-btn"><i class="feather-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="side-wrap search-wrap">
                                        <a href="~/webside/#seachmodal" class="search-popup" data-bs-toggle="modal">
                                            <i class="feather-search"></i>
                                        </a>
                                        <a href="~/webside/#seachmodal" class="search-popup search-popup-lg" data-bs-toggle="modal">
                                            <i class="feather-search"></i>
                                        </a>
                                    </li>
                                    @{
                                        string style = (ViewBag.loginFlag == 1) ? "display: inline-block;" : "display: none;";
                                        string styleNone = (ViewBag.loginFlag == 1) ? "display: none;" : "display: inline-block;";

                                    }

                                    <li class="side-wrap user-wrap" style="@styleNone">
                                        <div class="acc-desk-header">
                                            <div class="acc-title">
                                                <a href="~/Identity/Account/Login">
                                                    <span class="user-icon"><i class="feather-user"></i></span>
                                                </a>
                                            </div>
                                            <div class="acc-title-lg">
                                                <a href="~/webside/login-account.html"><i class="feather-user"></i></a>
                                            </div>
                                        </div>
                                    </li>

                                    
                                    <li class="side-wrap cart-wrap" style="@style">
                                        <div class="shopping-widget">
                                            <div class="shopping-cart">
                                                <a asp-controller="Home" asp-action="Profile" class="cart-count">
                                                    <span class="cart-icon-wrap">
                                                        <span class="cart-icon"><i class="feather-user"></i></span>
                                                        <span class="cart-title">Hesabım</span>
                                                       
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="side-wrap cart-wrap">
                                        <div class="shopping-widget">
                                            <div class="shopping-cart">
                                                <a asp-controller="Home" asp-action="AddBasket" class="cart-count">
                                                    <span class="cart-icon-wrap">
                                                        <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                                        <span class="cart-title">Sepetim</span>
                                                        <span class="bigcounter" id="cart-count">8</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- right-block-box end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <main>
        @RenderBody()
    </main>
    <!-- footer start -->
    <footer>
        <div class="footer-top-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-list-wrap">
                            <div class="footer-list">
                                <ul class="footer-info-details">
                                    <li class="ftlink-li footer-company-details">
                                        <div class="footer-logo">
                                            <a href="~/webside/index.html" class="theme-footer-logo">
                                                <img src="~/webside/img/logo/logo.png" class="img-fluid" alt="logo">
                                            </a>
                                        </div>
                                        <div class="footer-details">
                                            <p>Her pakette kalite, her kalemde mükemmeliyet. Ambalaj ve kırtasiye ihtiyaçlarınız için buradayız; çünkü en iyisini hak ediyorsunuz!.</p>
                                        </div>
                                        <div class="payment-details">
                                            <h2 class="payment-title">Ödeme şekilleri:</h2>
                                            <a href="~/webside/javascript:void(0)" class="payment-icon">
                                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
                                                     aria-labelledby="pi-visa">
                                                    <title id="pi-visa">Visa</title>
                                                    <path opacity=".07"
                                                          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                                                    <path fill="#fff"
                                                          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
                                                    <path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z"
                                                          fill="#142688"></path>
                                                </svg>
                                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
                                                     aria-labelledby="pi-master">
                                                    <title id="pi-master">Mastercard</title>
                                                    <path opacity=".07"
                                                          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                                                    <path fill="#fff"
                                                          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
                                                    <circle fill="#EB001B" cx="15" cy="12" r="7"></circle>
                                                    <circle fill="#F79E1B" cx="23" cy="12" r="7"></circle>
                                                    <path fill="#FF5F00"
                                                          d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24"
                                                     aria-labelledby="pi-american_express">
                                                    <title id="pi-american_express">American Express</title>
                                                    <g fill="none">
                                                        <path fill="#000"
                                                              d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z"
                                                              opacity=".07"></path>
                                                        <path fill="#006FCF"
                                                              d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1">
                                                        </path>
                                                        <path fill="#FFF"
                                                              d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z">
                                                        </path>
                                                    </g>
                                                </svg>
                                                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img"
                                                     aria-labelledby="pi-paypal">
                                                    <title id="pi-paypal">PayPal</title>
                                                    <path opacity=".07"
                                                          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
                                                    <path fill="#fff"
                                                          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
                                                    <path fill="#003087"
                                                          d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z">
                                                    </path>
                                                    <path fill="#3086C8"
                                                          d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z">
                                                    </path>
                                                    <path fill="#012169"
                                                          d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="app-code">
                                            <h2 class="app-title">Uygulama indir :</h2>
                                            <div class="code-1">
                                                <a class="image" href="~/webside/">
                                                    <img src="~/webside/img/app/gp-icon-01.png" class="img-fluid desk-img"
                                                         alt="gp-icon-01">
                                                </a>
                                                <a class="image" href="~/webside/">
                                                    <img src="~/webside/img/app/as-icon-02.png" class="img-fluid desk-img"
                                                         alt="as-icon-02">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-menu-wrapper">
                              @*   <ul class="footer-menu-details">
                                    <li class="ftlink-li">
                                        <h2 class="ft-title">About styler</h2>
                                        <a data-bs-toggle="collapse" href="~/webside/#ft-collapse-1" class="ft-title">
                                            <span>About styler</span>
                                            <i class="feather-chevron-down"></i>
                                        </a>
                                        <ul class="footer-sublist collapse" id="ft-collapse-1">
                                            <li class="ftsublink-li">
                                                <a href="~/webside/search.html" class="ft-sublink">Search</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/product-template2.html" class="ft-sublink">Styler inside</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/about-us.html" class="ft-sublink">About company</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="#" class="ft-sublink">Card bag</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ftlink-li">
                                        <h2 class="ft-title">Static content</h2>
                                        <a data-bs-toggle="collapse" href="~/webside/#ft-collapse-2" class="ft-title">
                                            <span>Static content</span>
                                            <i class="feather-chevron-down"></i>
                                        </a>
                                        <ul class="footer-sublist collapse" id="ft-collapse-2">
                                            <li class="ftsublink-li">
                                                <a href="~/webside/contact-us.html" class="ft-sublink">Contact us</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/product-template3.html" class="ft-sublink">White cello tape</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/product-template4.html" class="ft-sublink">Scissors</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/faq.html" class="ft-sublink">Faq's</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ftlink-li">
                                        <h2 class="ft-title">Information</h2>
                                        <a data-bs-toggle="collapse" href="~/webside/#ft-collapse-3" class="ft-title">
                                            <span>Information</span>
                                            <i class="feather-chevron-down"></i>
                                        </a>
                                        <ul class="footer-sublist collapse" id="ft-collapse-3">
                                            <li class="ftsublink-li">
                                                <a href="~/webside/privacy-policy.html" class="ft-sublink">Privacy policy</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/terms-condition.html" class="ft-sublink">Terms & condition</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/about-us-3.html" class="ft-sublink">About us 3</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/contact-us-2.html" class="ft-sublink">Contact us 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="ftlink-li">
                                        <h2 class="ft-title">Followed by</h2>
                                        <a data-bs-toggle="collapse" href="~/webside/#ft-collapse-4" class="ft-title">
                                            <span>Followed by</span>
                                            <i class="feather-chevron-down"></i>
                                        </a>
                                        <ul class="footer-sublist collapse" id="ft-collapse-4">
                                            <li class="ftsublink-li">
                                                <a href="~/webside/https://instagram.com" class="ft-sublink">Instagram</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/https://twitter.com" class="ft-sublink">Twitter</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside/https://facebook.com" class="ft-sublink">Facebook</a>
                                            </li>
                                            <li class="ftsublink-li">
                                                <a href="~/webside//collections/card-bag" class="ft-sublink">Dribbble</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> *@
                                <ul class="footer-extra-area">
                                    <li class="footer-info-area">
                                        <div class="info-block">
                                            <a href="~/webside/javascript:void(0)" class="info-box"><i class="feather-phone-call"></i></a>
                                            <div class="info-text">
                                                <h6>Telefon Numarası</h6>
                                                <a href="~/webside/tel:+00-1234567890" class="con-add">+00-1234567890</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="footer-info-area">
                                        <div class="info-block">
                                            <a href="~/webside/javascript:void(0)" class="info-box"><i class="feather-mail"></i></a>
                                            <div class="info-text">
                                                <h6>Email Adresi</h6>
                                                <a href="~/webside/mailto:demo@support.com" class="con-add">demo@support.com</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="footer-info-area">
                                        <div class="info-block">
                                            <a href="~/webside/javascript:void(0)" class="info-box"><i class="feather-map-pin"></i></a>
                                            <div class="info-text">
                                                <h6>Adres</h6>
                                                <p>Infotech Akademi</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="ft-bottom">
                            <li class="copy-right">
                                <p>
                                    <span>Copyright</span>
                                    <span class="copy-icon"><i class="far fa-copyright"></i></span>
                                    <span>2024 by Course<sup>Project</sup></span>
                                </p>
                            </li>
                            <li class="ft-menu">
                                <a href="~/webside/privacy-policy.html" class="ft-sublink">Privacy policy</a>
                                <a href="~/webside/terms-condition.html" class="ft-sublink">Terms & condition</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- search-popup start -->
    <div class="modal fade" id="seachmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="crap-search">
                                    <!-- search-button-close start -->
                                    <div class="button-close">
                                        <button type="button" class="search-close" data-bs-dismiss="modal">
                                            <i class="feather-x"></i>
                                        </button>
                                    </div>
                                    <!-- search-button-close end -->
                                    <!-- search-form start -->
                                    <form method="get" class="search-bar">
                                        <div class="form-search">
                                            <input type="search" name="q" placeholder="Search product here.." class="input-text" required>
                                            <button type="submit" class="search-btn"><i class="feather-search"></i></button>
                                        </div>
                                    </form>
                                    <!-- search-form end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-popup end -->
    <!-- mobile-menu start -->
    <div class="mobile-menu" id="menu-toggle">
        <div class="main-menu-area">
            <!-- box-header start -->
            <div class="box-header"><button class="close-menu" type="button"><i class="feather-x"></i></button></div>
            <!-- box-header end -->
            <div class="megamenu-content">
                <div class="mainwrap collapse show" id="resp-main">
                    <ul class="main-menu">
                        <li class="menu-link">
                            <a href="~/webside/index.html" class="link-title">
                                <span class="sp-link-title">Ana Sayfa</span>
                                <span class="menu-arrow"><i class="fa fa-angle-down"></i></span>
                            </a>
                            <a href="~/webside/#resp-collapse-home" data-bs-toggle="collapse" class="link-title link-title-lg">
                                <span class="sp-link-title">Ana Sayfa</span>
                                <span class="menu-arrow"><i class="fa fa-angle-down"></i></span>
                            </a>
                      
                        </li>
                        <li class="menu-link">
                            <a href="#" class="link-title">
                                <span class="sp-link-title">
                                    Ürünler
                                    <span class="label">satılık</span>
                                </span>
                                <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                            </a>
                            <a href="~/webside/#resp-single-product" data-bs-toggle="collapse" class="link-title link-title-lg">
                                <span class="sp-link-title">Ürünler</span>
                                <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                            </a>
                            <div class="menu-dropdown product-menu collapse" id="resp-single-product">
                                <ul class="container ul p-0">
                                    <li class="productlink-li">
                                        <a href="/Home/CollectionList?CategoryType=1" class="productlink-title">
                                            <span class="sp-link-title">Ambalaj</span>
                                        </a>
                                        <a href="/Home/CollectionList?CategoryType=1" data-bs-toggle="collapse"
                                           class="productlink-title productlink-title-lg">
                                            <span class="sp-link-title">Ambalaj</span>
                                            <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                        </a>

                                    </li>
                                    <li class="productlink-li">
                                        <a href="/Home/CollectionList?CategoryType=2" class="productlink-title">
                                            <span class="sp-link-title">Ambalaj</span>
                                        </a>
                                        <a href="/Home/CollectionList?CategoryType=2" data-bs-toggle="collapse"
                                           class="productlink-title productlink-title-lg">
                                            <span class="sp-link-title">Ofis malzemeleri</span>
                                            <span class="menu-arrow"><i class="feather-chevron-down"></i></span>
                                        </a>
                                       
                                    </li>
                                
                                </ul>
                            </div>
                        </li>
                    
                     
                 
                    </ul>
                </div>
            </div>
            <!-- mega-menu end -->
        </div>
    </div>
    <!-- mobile-menu end -->
    <!-- notification-bottom start -->
    <div class="notification-bottom">
        <ul class="shop-element-menu navigation-menu">
            <li class="side-wrap home-wrap">
                <div class="home-wrapper">
                    <a href="~/webside/index.html" class="home-modal">
                        <span class="home-icon"><i class="feather-home"></i></span>
                        <span class="header-title">Ana Sayfa</span>
                    </a>
                </div>
            </li>
            <li class="side-wrap search-wrap">
                <div class="search-wrapper">
                    <a href="~/webside/#seachmodal" data-bs-toggle="modal" class="search-modal">
                        <span class="search-icon"><i class="feather-search"></i></span>
                        <span class="header-title">Search</span>
                    </a>
                </div>
            </li>
            <li class="side-wrap wishlist-wrap">
                <div class="wishlist-wrapper">
                    <div class="wish-det">
                        <a href="~/webside/wishlist-product.html" class="wishlist-count">
                            <span class="wishlist-icon-wrapper">
                                <span class="wishlist-icon"><i class="feather-heart"></i></span>
                                <span class="wishlist-counter">5</span>
                            </span>
                            <span class="header-title">Wishlist</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="side-wrap cart-wrap">
                <div class="cart-wrapper">
                    <div class="cart-det">
                        <a href="~/webside/javascript:void(0)" class="add-to-cart cart-count">
                            <span class="cart-icon-wrapper">
                                <span class="cart-icon"><i class="feather-shopping-bag"></i></span>
                                <span class="cart-counter">8</span>
                            </span>
                            <span class="header-title">Cart</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="side-wrap user-wrap">
                <div class="user-wrapper">
                    <a href="~/webside/login-account.html" class="user-login">
                        <span class="user-icon"><i class="feather-user"></i></span>
                        <span class="header-title">User</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- notification-bottom end -->
    <!-- mini-cart start -->
    @*    <partial name="AddBasket" /> *@
    <!-- minicart end -->
    <!-- quickview modal start -->
    <div class="productmodal">
        <div class="modal fade" id="quickview" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-quickview">Quickview</h6>
                        <button type="button" class="close" data-bs-dismiss="modal"><i class="feather-x"></i></button>
                    </div>
                    <div class="modal-body">
                        <!-- swiper slider start -->
                        <div class="quickview-main-area">
                            <div class="quickview-slider">
                                <div class="swiper gallery-top">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="~/webside/product-template.html">
                                                <img src="~/webside/img/product/packging-pro-11.jpg" class="img-fluid"
                                                     alt="p-1">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/product-template.html">
                                                <img src="~/webside/img/product/packging-pro-11-a.jpg" class="img-fluid"
                                                     alt="p-2">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/product-template.html">
                                                <img src="~/webside/img/product/packging-pro-11-b.jpg" class="img-fluid"
                                                     alt="p-3">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/product-template.html">
                                                <img src="~/webside/img/product/packging-pro-11-c.jpg" class="img-fluid"
                                                     alt="p-4">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/product-template.html">
                                                <img src="~/webside/img/product/packging-pro-11-d.jpg" class="img-fluid"
                                                     alt="p-5">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-button">
                                        <button class="quick-prev"><i class="fas fa-chevron-left"></i></button>
                                        <button class="quick-next"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                </div>
                                <div class="swiper gallery-thumbs">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="~/webside/javascript:void(0)">
                                                <img src="~/webside/img/product/packging-pro-11.jpg" class="img-fluid"
                                                     alt="p-1">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/javascript:void(0)">
                                                <img src="~/webside/img/product/packging-pro-11-a.jpg" class="img-fluid"
                                                     alt="p-2">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/javascript:void(0)">
                                                <img src="~/webside/img/product/packging-pro-11-b.jpg" class="img-fluid"
                                                     alt="p-3">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/javascript:void(0)">
                                                <img src="~/webside/img/product/packging-pro-11-c.jpg" class="img-fluid"
                                                     alt="p-4">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="~/webside/javascript:void(0)">
                                                <img src="~/webside/img/product/packging-pro-11-d.jpg" class="img-fluid"
                                                     alt="p-5">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- swiper slider end -->
                            <!-- quick-view content start -->
                            <div class="quick-view-content">
                                <div class="product-rating">
                                    <span class="star-rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </div>
                                <form method="post" asp-controller="Home">
                                    <div class="product-title">
                                        <h6 class="product_title">Cutter knife 8mm</h6>
                                    </div>
                                    <!-- product-price start -->
                                    <div class="price-box">
                                        <span class="new-price">€11,00</span>
                                        <span class="old-price">€19,00</span>
                                    </div>
                                    <!-- product-price end -->
                                    <div class="product-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                            et dolore magn
                                        </p>
                                    </div>

                                    <div class="product-quantity-action">
                                        <h6>Quantity:</h6>
                                        <div class="product-quantity">
                                            <div class="cart-plus-minus">
                                                <button class="dec qtybutton minus"><i class="fa-solid fa-minus"></i></button>
                                                <input type="text" name="quantity" value="1">
                                                <button class="inc qtybutton plus"><i class="fa-solid fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    @*  <div class="quickview-buttons">
                                    <button type="submit" class="addtocartqv"><span class="cart-title">Add to cart</span></button>
                                    </div> *@
                                </form>
                            </div>
                            <!-- quick-view content end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quickview modal end -->
    <!-- screen-bg start -->
@*     <div class="screen-bg"></div> *@
    <!-- screen-bg end -->
    <!-- preloader start -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader end -->
    <!-- back-to-top start -->
    <a href="~/webside/javascript:void(0)" id="top" class="scroll">
        <span><i class="feather-arrow-up"></i></span>
    </a>
    <!-- back-to-top end -->
    <!-- jquery -->
    <script src="~/webside/js/jquery-3.6.3.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/webside/js/bootstrap.min.js"></script>
    <script src="~/webside/js/popper.min.js"></script>
    <!-- magnific-popup js -->
    <script src="~/webside/js/jquery.magnific-popup.min.js"></script>
    <!-- owl js -->
    <script src="~/webside/js/owl.carousel.min.js"></script>
    <!-- swiper-bundle js -->
    <script src="~/webside/js/swiper-bundle.min.js"></script>
    <!-- slick js -->
    <script src="~/webside/js/slick.min.js"></script>
    <!-- waypoints js -->
    <script src="~/webside/js/waypoints.min.js"></script>
    <!-- counter js -->
    <script src="~/webside/js/counter.js"></script>
    <!-- main js -->
    <script src="~/webside/js/main.js"></script>
    <script src="~/webside/js/site.js" asp-append-version="true"></script>
    <script src="~/admin/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script>

        // Sepet sayısını güncelle
        updateCartCount();

        // Sepet sayısını güncellemek için fonksiyon
        function updateCartCount() {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            document.getElementById('cart-count').innerText = cart.length;
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>